<p id="notice"><%= notice %></p>

<p>
  <strong>Instructions:</strong>
  <%= @query.instructions %>
</p>

<p>
  <strong>Query string:</strong>
  <%= @query.query_string %>
</p>

<%= link_to 'Edit', edit_query_path(@query) %> |
<%= link_to 'Back', queries_path %>
